html{
    font-weight: bold;
    font-family: OneShinhan, sans-serif;
}

.main-layout{
    .main-header-layout{
        filter: drop-shadow(2px 0px 3px black);
        height: 64px;
        background-color: #232323;
        display: flex;
        padding: 0;
        .header-layout{
            display: flex;
            .header-layout-left{
                display: flex;
                align-items: center;
                .header-layout--element__first{
                    text-align: center;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .header-layout--element__second{
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #fff;
                }
            }
            
            .header-layout-right{
                display: flex;
                justify-content: flex-end;
                .header-message{
                    display: flex;
                    .user-message{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
                .header-setting{
                    display: flex;
                    .user-setting{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
                .header-user-login{
                    display: flex;
                    .user-login-text{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.message-dialog{
    min-width: 328px;
    height: 400px;
    background-color: #242526;
    position: absolute;
    top: 64px;
    border-radius: 8px 8px 8px 8px;
    padding: 10px 20px;  
    z-index: 9999999;                 
    .title-message{
        margin: 0;
        height: 32px;
        box-sizing: border-box;
        line-height: 32px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #c0c0c0;
    }
    .input-message{
        width: 98%; 
        height: 36px; 
        border-radius: 30px; 
        outline: none; 
        background-color: #3A3B3C; 
        padding-left: 20; 
        color: #fff; 
        border: 0

    }
}
.cursor-act{
    cursor: pointer;
    justify-content: center;
}


.chat-tab{
    width: 300px;
    height: 500px;
    background-color: #3A3B3C;
    position: absolute;
    right: 70px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 999;
    .chat-tab-header{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3A3B3C;
        color: #ffffff;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 15px 15px 0 0;
        padding: 1px 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .chat-tab-content{
        height: 100%;
        overflow-y: auto;
        padding: 46px 10px;
        background-color: #171A1F;
         border-radius: 15px 15px 0 0 ;
        .item-message-tab{
            display: flex;
            line-height: 22px;
            align-items: center;
            margin-bottom: 8px;
            .item-message-content{
                color: #fff;
                padding: 8px 10px;
                border-radius: 8px;
            }
            .message-client{
background-color: #2D2E30;
            }
            .message-server{
                background-color: #ffffff33;
            }
        }
    }
    .chat-tab-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #2D2E30;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        line-height: 50px;
        display: flex;
        padding: 0 4px;
        .input-message{
            height: 37px;
            border-radius: 20px;
            outline: none;
            border: 0;
            width: 100%;
            padding-left: 10px;
            padding-right: 15px;
            background-color: #242526;
            color: #fff;
            margin-right: 5px;
        }
    }
}

.item-message:hover{
    background-color: #e4e6eb2e;
    border-radius: 4px;
    cursor: pointer;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #171A1F;
    background: url('../assets/images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .form-login{
        border: 1px solid #232323;
        border-radius: 0.5rem;
        background: #232323;
        width: 430px;
        height: 531px;
        // background: url('../assets/images/background.svg');
        background-size: cover;
        padding: 1rem;
        border-radius: 8px;
        filter: drop-shadow(2px 4px 6px black);
        .login-logo{
            padding: 1rem;
    filter: drop-shadow(2px 4px 6px black);
            text-align: center;
            margin-bottom: 27px;
        }
        .ant-input-affix-wrapper{
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            input{
                background: transparent !important;
                border: 0 !important;
            }
        }
        .btn-login{
            background: #60B44A;
    border-radius: 8px;
    width: 90%;
    outline: none;
    border: 0;
        }

        .login-utils{
            display: flex;
            margin-bottom: 10px;
            .remember-me{
                color: #fff;
                display: flex;
            }
            .forget-pass{
                text-align: right;
                color: #fff
            }
        }
        .social-login{
            display: flex;
            .facebook-login{
                text-align: center;
                button{
                    filter: drop-shadow(2px 4px 6px black);
                }
            }
            .google-login{
                text-align: center;
                button{
                    filter: drop-shadow(2px 4px 6px black);
                }
            }
        }

        .register-account{
            margin-top: 30px;
            color: #fff;
            display: flex;
            column-gap: 0.1rem;
            justify-content: center;
        }
    }
}

.main-app-layout{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    .course-card{
        filter: drop-shadow(2px 4px 6px black);
        width: 350px;
        border-radius: 0.25rem;
        margin: 10px;
    }
}

.main-setting{
    margin: 0 auto;
    max-width: 47.5rem;
    padding: 1.5rem 1.5rem;
    .main-setting__f{
        padding: 1.5rem;
        margin-bottom: 2rem;

        background-color: #494949;
        border: 0;
        -webkit-border-radius: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        .main-setting__f-avatar{
            padding: 0 8px;

            -webkit-box-align: center;
            box-align: center;
            -webkit-align-items: center;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            position: relative;
            .main-setting__f-avatar__{
                display: inline-block;
                margin: 0;
                color: #1a73e8;
                .avatar-display{
                    margin-right: 0.5rem;
                }        
            }
        }
    }
    .main-setting__s{
        display: flex;
        justify-content: space-between;
    }
}

::-webkit-scrollbar{
    width: 4px;
    color: '#000'
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}



// overwrite
.ant-drawer-body{
    position: relative;
}

.ant-dropdown-menu{
    border-radius: 8px  !important;
    padding: 0 !important;
}
.drawer-item-app{
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    .mask-hover{
        position: absolute;
        width: 260px;
        height: 50px;
        left: 0;
    }
    .drawer-item__i{
        height: 24px;
        z-index: 1;
    }
    .drawer-item__c{
        margin-left: 1rem;
        z-index: 1;
    }
}

.drawer-item-app:hover .mask-hover{
    position: absolute;
    width: 260px;
    height: 50px;
    left: 0;
    background-color: #494949 !important;
    border-radius: 0 40px 40px 0;
    z-index: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.main-todolist-layout{
    margin: 0 auto;
    max-width: 47.5rem;
    padding: 1.5rem 1.5rem;
    .main-content-todolist{
        -webkit-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 4rem;
        padding-top: 4rem;
        .empty-content-todolist{
            background: url(https://www.gstatic.com/classroom/no_assignments_web.png) center no-repeat;
            background-color: #f1f3f4;
            -webkit-background-size: contain;
            background-size: contain;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 12.5rem;
            width: 12.5rem;
        }
        .title-empty-content-todolist__f{
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
        }
        .title-empty-content-todolist__s{
            letter-spacing: .01428571em;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            color: #3c4043;
        }
        .todos-item{
            // margin: 0 1.5rem;
            padding: 1rem 0;
            background-color: #fff;
            border: .0625rem solid #dadce0;
            border-radius: 0.5rem;
            overflow: hidden;
            width: 100%;
            &:hover{
                background-color: #e8f0fe;
                cursor: pointer;
            }
            .todos-item__f{
               
                .todos-item__ic{
                    color: #fff;
                    cursor: default;
                    -webkit-flex-shrink: 0;
                    flex-shrink: 0;
                    margin: 0 1rem 0 1.5rem;
                    text-align: center;
                    background: #4285f4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 50%;
                }
                .todos-item__n{
                    letter-spacing: .01785714em;
                    font-family: 'Google Sans',Roboto,Arial,sans-serif;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: #3c4043;
                    font-weight: bold;
                }
                .todos-item__t{
                    letter-spacing: .025em;
                    font-family: Roboto,Arial,sans-serif;
                    font-size: 0.75rem;
                    font-weight: 400;
                    line-height: 1rem;
                    color: #5f6368;
                }
            }
        }
    }
}


h5.ant-typography{
    // color: #24253d66 !important;
}

.ant-drawer .ant-drawer-content{
    border-radius: 0;
}

.ant-modal-loading{
    .ant-modal-content{
        border-radius: 0.5rem;
    background: #121418;
    color: #fff;
    }
}

.mt-2{
    margin-top: 0.25rem;
}

.mt-4{
    margin-top: 0.5rem !important;
}

.ml-2{
    margin-left: 0.25rem;
}

.mr-2{
    margin-right: 0.25rem;
}

.mr-4{
    margin-right: 0.5rem;
}


.mb-2{
    margin-bottom: 0.25rem !important;
}

.mb-4{
    margin-bottom: 0.5rem !important;
}

#antd-customize.ant-input-customize{
    background: #232323;
    border: .5px solid #494949;
    box-sizing: border-box;
    border-radius: .25rem;
    min-width: 9rem;
    box-shadow: none;
    color: #f9f9f9 !important
}

.alt-date-picker {
    background: #232323 !important;
    border: .5px solid #494949 !important;
    box-sizing: border-box;
    border-radius: .25rem !important;
    min-width: 9rem;
    box-shadow: none;
    width: 100%;
    input{
        color: #f9f9f9 !important
    }
}

.ant-form-item-label > label{
    color: #f9f9f9 !important
}

.ant-drawer-header{
    background-color: #2e3034 !important;
    border: 0 !important;
    .ant-drawer-title{
        color: #f9f9f9 !important;
    }
}

.ant-drawer-body{
    background-color: #2e3034 !important;
}

.ant-form-item-label{
    text-align: left !important;
}

.ant-select-selector {
    background: #232323 !important;
    border: .5px solid #494949 !important;
    box-sizing: border-box;
    border-radius: .25rem !important;
    cursor: pointer;
}

.ant-select-selection-item {
    color: #bfbfbf;
}

.ant-select-item-option-content{
    color: #f9f9f9;
}

.ant-customize-dropdown{
    background-color: #232323 !important;
}

.ant-input{
    border-radius: 0.25rem !important;
    overflow: hidden;
    background: #232323 !important;
    border: .5px solid #494949 !important;
    color: #f9f9f9 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color: #c4c4c4 !important;
}

.ant-select-item-option-active{
    .ant-select-item-option-content{
        color: #494949 !important;
    }
}

.ant-picker-suffix, .ant-drawer-close{
    color: #f9f9f9 !important
}

.ant-picker-panel-container {
    border-radius: .5rem !important;
    background-color: #2e3034 !important;
    border: 1px solid #ce9b51;
}

.ant-btn-primary{
    width: 100%;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    color: #fff !important;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #0F70B8 !important;
    }
}

.ant-picker-header-super-prev-btn, .ant-picker-header-prev-btn{
    color: #ce9b51 !important;
}

.ant-picker-panel-container .ant-picker-header-view {
    font-size: 1.25rem;
    color: #ce9b51 !important;
}

.ant-picker-header-next-btn,  .ant-picker-header-prev-btn,  .ant-picker-header-super-next-btn,  .ant-picker-header-super-prev-btn,  .ant-picker-header button,  .ant-picker-separator,  .ant-picker-suffix {
    color: #ce9b51 !important;
}

.ant-picker-panel-container .ant-picker-content th {
    color: #0F70B8 !important;
}

.ant-picker-cell .ant-picker-cell-inner, .ant-picker-header-view button {
    color: #f9f9f9 !important
}

.ant-picker-time-panel-cell-inner{
    color: #f9f9f9 !important;
}

.ant-picker-time-panel-cell-selected {
    .ant-picker-time-panel-cell-inner{
        color: #494949 !important;
        background-color: #c4c4c4 !important;
    }
}

.ant-picker-cell-inner:hover{
    color: #494949 !important;
}

.ant-picker-time-panel-cell-inner:hover{
    color: #494949 !important;

}

.ant-btn-primary[disabled]{
    color: #f9f9f9 !important;
    background: #0F70B8 !important;
    border: 0 !important;
    opacity: 0.75;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #191919;
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    background: #2e3034;
}

::-webkit-scrollbar-thumb {
    background-color:#A3A4AC;
    border: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2e3034;
    border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #2e3034;
}

// Default theme
.color-default, .ant-typography{
    color: #f9f9f9 !important;
}


.ant-card-meta-title{
    text-transform: uppercase;
}

.ant-card-actions{
    border-radius: 0.25rem;
}


.modal-function-customize{
    .ant-modal-content{
        background-color: #191919;
        border: 1px solid #ce9b51;
        border-radius: 0.5rem;
        min-width: 678px;
        .ant-modal-header {
            background-color: #232323;
            text-align: center;
            text-transform: uppercase;
            border: 0;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            padding: 0;
        }
        .ant-modal-body {
            padding: 1rem;
            background-color: #232323;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }

    .close-icon-modal {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        cursor: pointer;
    }
}

.modal-function-customize.screen-share{
    width: 1092px !important; 
}

.lms-btn{
    width: 9.5rem;
    height: 1.688rem;
    border-radius: .25rem;
    font-size: .75rem;
    color: #f9f9f9;
    cursor: pointer;
    outline: 0;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid transparent;
    margin-top: 1rem;
}

.text-center{
    text-align: center;
}

.ant-form-item {
    margin-bottom: 0.75rem !important;
}

.ant-modal{
    top: 50px !important
}

.ant-form-item-control-input-content{
    text-align: center;
}

.ant-input-number{
    background-color: transparent;
    border: 0;
    width: 100% !important;
}

.ant-input-number-input{
    background: #232323;
    border: .5px solid #494949 !important;
    box-sizing: border-box;
    border-radius: .25rem !important;
    width: 100%;
    box-shadow: none;
    outline: 0;
    color: #f9f9f9 !important;
}

.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label{
    padding: 0;
}

.ant-input-password{
    background-color: #494949 !important;
    border: 0;
    input{
        background-color: transparent !important;
        border: 0 !important;
    }
}

.ant-form-item-optional{
    color: #f9f9f9 !important;
}

.pwd-login{
    background-color: transparent !important;
    border: 1px solid #d9d9d9 !important;
}

.menu-container-zoom-meeting{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.ant-ribbon-wrapper{
    width: 100%;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active{
    background-color: #0f70b8;
    border-color: #0f70b8;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #f9f9f9;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav{
    margin: 0
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
    border-bottom: 0.5px solid #494949 !important;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active{
    border-bottom-color: #0f70b8
}

.ant-tabs-tabpane{
    border-bottom: 0.5px solid #494949;
    border-left: 0.5px solid #494949;
    border-right: 0.5px solid #494949;
    padding: 0.5rem 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.ant-list-items{
    max-height: 230px;
    overflow: auto;
}

.zoom-list{
    .ant-list-items{
        max-height: 358px;
        overflow: auto;
    }
}

.ant-radio-wrapper span{
    color: #f9f9f9
}

.timeout-quiz{
    padding: 1.3rem;
    background: #ff4000;
    color: #f9f9f9f9;
    text-transform: uppercase;
    width: 158px;
    display: flex;
    justify-content: center;
}

.logout-action{
    display: inline-flex;
    justify-content: center;
    border-radius: 0.25rem;
    border: 1px solid #232323;
    padding: 2px 8px;
    background: #232323;
    &:hover{
        background-color: #494949;
    }
}