.main-layout{
    .main-header-layout{
        height: 64px;
        background-color: #21252B;
        display: flex;
        padding: 0;
        .header-layout{
            display: flex;
            .header-layout-left{
                display: flex;
                align-items: center;
                .header-layout--element__first{
                    text-align: center;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .header-layout--element__second{
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #fff;
                }
            }
            
            .header-layout-right{
                display: flex;
                justify-content: flex-end;
                .header-message{
                    display: flex;
                    .user-message{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
                .header-setting{
                    display: flex;
                    .user-setting{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
                .header-user-login{
                    display: flex;
                    .user-login-text{
                        font-weight: 600;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.message-dialog{
    min-width: 328px;
    height: 400px;
    background-color: #242526;
    position: absolute;
    top: 64px;
    border-radius: 8px 8px 8px 8px;
    padding: 10px 20px;  
    z-index: 9999999;                 
    .title-message{
        margin: 0;
        height: 32px;
        box-sizing: border-box;
        line-height: 32px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #c0c0c0;
    }
    .input-message{
        width: 98%; 
        height: 36px; 
        border-radius: 30px; 
        outline: none; 
        background-color: #3A3B3C; 
        padding-left: 20; 
        color: #fff; 
        border: 0

    }
}
.cursor-act{
    cursor: pointer;
    justify-content: center;
}


.chat-tab{
    width: 300px;
    height: 500px;
    background-color: #3A3B3C;
    position: absolute;
    right: 70px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 999;
    .chat-tab-header{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3A3B3C;
        color: #ffffff;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 15px 15px 0 0;
        padding: 1px 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .chat-tab-content{
        height: 100%;
        overflow-y: auto;
        padding: 46px 10px;
        background-color: #171A1F;
         border-radius: 15px 15px 0 0 ;
        .item-message-tab{
            display: flex;
            line-height: 22px;
            align-items: center;
            margin-bottom: 8px;
            .item-message-content{
                color: #fff;
                padding: 8px 10px;
                border-radius: 8px;
            }
            .message-client{
background-color: #2D2E30;
            }
            .message-server{
                background-color: #ffffff33;
            }
        }
    }
    .chat-tab-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #2D2E30;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        line-height: 50px;
        display: flex;
        padding: 0 4px;
        .input-message{
            height: 37px;
            border-radius: 20px;
            outline: none;
            border: 0;
            width: 100%;
            padding-left: 10px;
            padding-right: 15px;
            background-color: #242526;
            color: #fff;
            margin-right: 5px;
        }
    }
}

.item-message:hover{
    background-color: #e4e6eb2e;
    border-radius: 4px;
    cursor: pointer;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #171A1F;
    background: url('../assets/images/bg-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    .form-login{
        width: 330px;
        height: 631px;
        // background: url('../assets/images/background.svg');
        background-size: cover;
        padding: 10px;
        border-radius: 8px;
        .login-logo{
            text-align: center;
            margin-bottom: 27px;
        }
        .ant-input-affix-wrapper{
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            input{
                background: transparent;
            }
        }
        .btn-login{
            background: #60B44A;
    border-radius: 8px;
    width: 90%;
    outline: none;
    border: 0;
        }

        .login-utils{
            display: flex;
            margin-bottom: 10px;
            .remember-me{
                color: #fff;
                display: flex;
            }
            .forget-pass{
                text-align: right;
                color: #fff
            }
        }
        .social-login{
            display: flex;
            .facebook-login{
                text-align: center;
            }
            .google-login{
                text-align: center;
            }
        }

        .register-account{
            text-align: center;
            margin-top: 30px;
            color: #fff;
        }
    }
}

.main-app-layout{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    .course-card{
        width: 250px;
        border-radius: 20px;
        margin: 10px;
    }
}

.main-setting{
    margin: 0 auto;
    max-width: 47.5rem;
    padding: 1.5rem 1.5rem;
    .main-setting__f{
        padding: 1.5rem;
        margin-bottom: 2rem;

        background-color: #fff;
        border: .0625rem solid #dadce0;
        -webkit-border-radius: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        .main-setting__f-avatar{
            padding: 0 8px;

            -webkit-box-align: center;
            box-align: center;
            -webkit-align-items: center;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            position: relative;
            .main-setting__f-avatar__{
                display: inline-block;
                margin: 0;
                color: #1a73e8;
                .avatar-display{
                    margin-right: 0.5rem;
                }        
            }
        }
    }
    .main-setting__s{
        display: flex;
        justify-content: space-between;
    }
}

::-webkit-scrollbar{
    width: 4px;
    color: '#000'
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}



// overwrite
.ant-drawer-body{
    position: relative;
}

.ant-dropdown-menu{
    border-radius: 8px  !important;
    padding: 0 !important;
}
.drawer-item-app{
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    .mask-hover{
        position: absolute;
        width: 260px;
        height: 50px;
        left: 0;
    }
    .drawer-item__i{
        height: 24px;
    }
    .drawer-item__c{
        margin-left: 1rem;
    }
}

.drawer-item-app:hover .mask-hover{
    position: absolute;
    width: 260px;
    height: 50px;
    left: 0;
    background-color: rgba(32,33,36,0.039);
    border-radius: 0 40px 40px 0;
    z-index: -1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}



h5.ant-typography{
    // color: #24253d66 !important;
}
