.alt-modal-wrapper{
    background: #262626;
    border: 1px solid #494949;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 21.25rem;
    min-height: 10rem;
    // max-height: calc(100vh - 200px);
}