@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container-right{
  position: fixed;
  width: 65px;
  top: 275px;
  right: 0;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);
  z-index: 1000
}
.container-right a{
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  color: white;
  line-height: 60px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
}
.container-right a i{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 27px;
}
.container-right a span{
  position: relative;
  margin-left: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 13px;
  border-radius: 3px;
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);

  min-width: 150px;
display: block;
}
.container-right a span:before{
  position: absolute;
  content: '';
  top: 50%;
  right: -8px;
  height: 18px;
  width: 18px;
  transform: translateY(-50%) rotate(45deg);
}
.container-right a:nth-child(1),
.container-right a:nth-child(1) span,
.container-right a:nth-child(1) span:before{
  background: #0652DD;
}
.container-right a:nth-child(2),
.container-right a:nth-child(2) span,
.container-right a:nth-child(2) span:before{
  background: #EA2027;
}


.container-right a:hover span{
  margin-left: 75px;
  opacity: 1;
  visibility: visible;
}
